version: '3.8'

services:
  my-redis:
    image: redis:alpine
    container_name: chatbot-redis
    ports:
      - "6379:6379"
    command: redis-server --requirepass "${REDIS_PASSWORD}"
    volumes:
      - redis_data:/data

volumes:
  redis_data: