[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
langchain-openai = "*"
langchain-aws = "*"
langchain-community = "*"
sentence-transformers = "*"
faiss-cpu = "*"
rank-bm25 = "*"
uvicorn = "*"
fastapi = "*"
redis = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-dotenv = "*"
openai = "*"
camelot-py = "*"
pandas = "*"
pdfplumber = "*"
pypdf = "*"
langchain = "*"
langchain-text-splitters = "*"
pymupdf = "*"
utils = "*"

[dev-packages]

[requires]
python_version = "3.13"
