[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
langchain-openai = "*"
langchain-aws = "*"
langchain-community = "*"
sentence-transformers = "*"
faiss-cpu = "*"
rank-bm25 = "*"
uvicorn = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.13"
